@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header-container{
  width: 100%;
  height: 77px;
  text-align: center;
  background-color: #395696;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  }

.header-container>h1{
  font-size: 44px;
  margin-left: 25px;
}

.header-search{
  height: 20px;
  width: 180px;
  padding: 5px;
  font-size: 20px;
  outline: none;
}

.news-item{
  border-bottom: 1px solid grey;
  padding: 15px;
}

.news-item h1{
  margin-bottom: 10px;

}

.newsitem p{
  margin-bottom: 5px;;
}


.news-container{
display: flex;
justify-content: space-between;
width: 80% ;
margin: auto;
overflow: hidden;
}

.news-container-left{
  width: 65%;
}

.news-container-right{
  width: 30%;
}

.news-container-right > div > h1{
  font-size: 20px;
}

.news-container-right>h3{
  font-size: 32px;
  border-bottom: 2px black;
  margin-top: 15px;
}